<ion-header [translucent]="true">
  
  <ion-toolbar>
    
    <ion-title>
      
    </ion-title>
    
    <img src="../../assets/icon/favicon.png" class="item item-trns" width="60px" height="60px"> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="primary">Enviar invitacion</ion-button>

  <ion-list>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col>
        <div>Id</div>
      </ion-col>
      <ion-col>
        <div><strong>Nombre</strong></div>
      </ion-col>
      <ion-col>
        <div><strong>Correo</strong></div>
      </ion-col>
      <ion-col>
        <div>check</div>
      </ion-col>
    </ion-row>

    <ion-row class="data-row">
      <ion-col>
        <div>Id</div>
      </ion-col>
      <ion-col>
        <div><strong>Nombre</strong></div>
        
      </ion-col>
      <ion-col>
        <div><strong>Correo</strong></div>
      </ion-col>
      <ion-col>
        <div>check</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  </ion-list>
</ion-content>
